<section id="note-wrapper">
  <article id="note-content">
    <%= form_for @note do |f| %>

      <% if @note.errors.any? %>
        <div id="errors-wrapper">
          <ul>
            <% @note.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.text_field :title, placeholder: 'Titre' %>
      <div id="game-data">
        <%= f.text_field :game_name, placeholder: 'Nom du jeu'%>
        <%= f.text_field :game_type, placeholder: 'Type de jeu' %>
      </div>
      <%= f.rich_text_area :content, placeholder: 'Votre texte ici...' %>
      <button type="submit" id="save-button" class="contextual-link">Enregistrer</button>
    <% end %>
  </article>
</section>