<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn"><%= User.find(current_user.id).username[0].upcase %></button>
  <div id="myDropdown" class="dropdown-content">
    <%= link_to "Mes notes", root_path%>
    <%= link_to "Nouvelle note", note_new_path %>
    <%= link_to "Mon profil", profil_path%>
    <a href="mailto:hello@brunopinto.fr" title="hello@brunopinto.fr">Besoin d'aide ?</a>
    <%= link_to "Déconnexion", destroy_session_path, stats: {method: 'delete'}%>
  </div>
</div>