<section class="form-section">
  <% if @user.errors.any? %>
    <div id="errors-wrapper">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div id="form-wrapper">
    <h1>Mon profil</h1>
    <%= form_for @user, url: profil_path do |f| %>
      <%= f.email_field :email, placeholder: "Email" %>
      <%= f.password_field :password, placeholder: "Mot de passe" %>
      <%= f.password_field :password_confirmation, placeholder: "Confirmation" %>
      <button type="submit">Mettre à jour</button>
    <% end %>
  </div>
</section>